<div class="mainWrapper">
<section class="mainBanner">
  <div class="container">
    <div class="bannerDesc">
      <h1>Prescription EyeGlasses</h1>
      <h4>Choose from <span>Hundreds of Styles</span> that make
        you see <span>Clear & Look</span> great</h4>
      <a class="btn btn-primary" href="javascript:void(0)">Shop Now</a>
    </div>
  </div>
</section>
<div class="filterWrapper">
  <div class="container">
    <div class="clearfix">
      <h3 class="dealOfferInfo pull-right">
        <span>FREE DELIVERY</span> ON ALL ORDERS OVER <strong>$49</strong>
      </h3>
      <ul class="pull-left filterButtons">
        <li class="allFilter"><a href="javascript:void(0)" data-filter="*">Shop by</a></li>
        <li><a href="javascript:void(0)" data-filter=".bestSelling">Best Sellers</a></li>
        <li><a href="javascript:void(0)" data-filter=".popularBrand">Best Value</a></li>
        <li><a href="javascript:void(0)" data-filter=".newArrivals">New Arrivals</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="filterByTypeWrapper">
  <section class="glassesShowCase newArrivals">
    <div class="container">
      <h2>New Arrivals</h2>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#na_women" role="tab" aria-controls="na_women"
                                                    data-toggle="tab">Women</a></li>
          <li><a href="#na_men"  role="tab" aria-controls="na_men"
                                     data-toggle="tab">Men</a>
          </li>
          <li><a href="#na_kids"  role="tab" aria-controls="na_kids"
                                     data-toggle="tab">Kids</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="na_women">
            <div class="gscSlider">
              <% for product in @products_new_women %>
              <div class="glassInfoWrap">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= image_tag(product.avatar, :class => "img-responsive") %>
                <div class="ratingSocialWrap">
                  <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                  <span class="socialWrap">
                      <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
                      <a href="javascript:">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </a>
                  </span>
                </div>
              </div>
              <% end %>

            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="na_men">
            <div class="gscSlider">
              <% for product in @products_new_men %>
                  <div class="glassInfoWrap">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= image_tag(product.avatar, :class => "img-responsive") %>
                    <div class="ratingSocialWrap">
                      <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                      <span class="socialWrap">
                          <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          <% end %>
                          <a href="javascript:">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                      </span>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="na_kids">
            <div class="gscSlider">
              <% for product in @products_new_kids %>
                  <div class="glassInfoWrap">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= image_tag(product.avatar, :class => "img-responsive") %>
                    <div class="ratingSocialWrap">
                      <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                      <span class="socialWrap">
                          <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          <% end %>
                          <a href="javascript:">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                      </span>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="glassesShowCase bestSelling">
    <div class="container">
      <h2>Best Selling</h2>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#bs_women" aria-controls="bs_women" role="tab"
                                                    data-toggle="tab">Women</a></li>
          <li role="presentation"><a href="#bs_men" aria-controls="bs_men" role="tab"
                                     data-toggle="tab">Men</a>
          </li>
          <li role="presentation"><a href="#bs_kids" aria-controls="bs_kids" role="tab"
                                     data-toggle="tab">Kids</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="bs_women">
            <div class="gscSlider">
              <% for product in @products_best_women %>
              <div class="glassInfoWrap">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= image_tag(product.avatar, :class => "img-responsive") %>
                <div class="ratingSocialWrap">
                  <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                  <span class="socialWrap">
                      <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
                      <a href="javascript:">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </a>
                  </span>
                </div>
              </div>
              <% end %>

            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="bs_men">
            <div class="gscSlider">
              <% for product in @products_best_men %>
                  <div class="glassInfoWrap">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= image_tag(product.avatar, :class => "img-responsive") %>
                    <div class="ratingSocialWrap">
                      <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                      <span class="socialWrap">
                          <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          <% end %>
                          <a href="javascript:">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                      </span>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="bs_kids">
            <div class="gscSlider">
              <% for product in @products_best_kids %>
                  <div class="glassInfoWrap">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= image_tag(product.avatar, :class => "img-responsive") %>
                    <div class="ratingSocialWrap">
                      <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                      <span class="socialWrap">
                          <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          <% end %>
                          <a href="javascript:">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                      </span>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="glassesShowCase popularBrand">
    <div class="container">
      <h2>Popular Brand</h2>

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#pb_women" aria-controls="pb_women" role="tab"
                                                    data-toggle="tab">Women</a></li>
          <li role="presentation"><a href="#pb_men" aria-controls="pb_men" role="tab"
                                     data-toggle="tab">Men</a>
          </li>
          <li role="presentation"><a href="#pb_kids" aria-controls="pb_kids" role="tab"
                                     data-toggle="tab">Kids</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="pb_women">
            <div class="gscSlider">
              <% for product in @products_popularbrand_women %>
              <div class="glassInfoWrap">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= image_tag(product.avatar, :class => "img-responsive") %>
                <div class="ratingSocialWrap">
                  <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                  <span class="socialWrap">
                      <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
                      <a href="javascript:">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </a>
                  </span>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="pb_men">
            <div class="gscSlider">
              <% for product in @products_popularbrand_men %>
                  <div class="glassInfoWrap">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= image_tag(product.avatar, :class => "img-responsive") %>
                    <div class="ratingSocialWrap">
                      <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                      <span class="socialWrap">
                          <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          <% end %>
                          <a href="javascript:">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                      </span>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="pb_kids">
            <div class="gscSlider">
              <% for product in @products_popularbrand_kids %>
                  <div class="glassInfoWrap">
                    <span class="price"><%= number_to_currency(product.price) %></span>
                    <%= image_tag(product.avatar, :class => "img-responsive") %>
                    <div class="ratingSocialWrap">
                      <%= number_field_tag product.id, product.rating, class: 'custum-star-rating' %>
                      <span class="socialWrap">
                          <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          <% end %>
                          <a href="javascript:">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                      </span>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
</div>
