<div class="mainWrapper">
  <section class="internalBanner">
  </section>
  <div class="productDetailWrapper">
    <div class="container">
      <% if not @order.presciptions.empty? %>
          <section class="productInfoWrap">
      <% else %>
          <section class="productInfoWrap cartInfoWrap">
      <% end %>
        <div class="row">
            <% if not @order.presciptions.empty? %>
               <h3 class="page-title">Cart</h3>

          <% for pre in @order.presciptions %>

              <div class="row">

                <div class="col-md-3">
                  <div class="cartShowCase">
                    <%= image_tag(pre.product.avatar, :class => "img-responsive") %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="cartFormWrap">
                    <h4><strong>Type:</strong><br>
                      <%= pre.pre_type %><br>
                      PD (<%= pre.pd %>)
                    </h4>
                    <div class="cartInfoTable">
                      <table class="table">
                        <thead>
                        <tr>
                          <th></th>
                          <th>sph</th>
                          <th>cyl</th>
                          <th>axis</th>
                          <th>add</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>OD (Left)</td>
                          <td><%= pre.sphere %></td>
                          <td><%= pre.cylinder %></td>
                          <td><%= pre.axis %></td>
                          <td><%= pre.add %></td>
                        </tr>
                        <tr>
                          <td>OD (Right)</td>
                          <td><%= pre.sphere_right %></td>
                          <td><%= pre.cylinder_right %></td>
                          <td><%= pre.axis_right %></td>
                          <td><%= pre.add_right %></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <h4><strong>Lens Type:</strong><br>
                      <%= pre.lense_type %></h4>
                    <h4><strong>Your Coatings:</strong><br>
                      <% if pre.protective_coating or pre.anti_reflective_coating or pre.scratch_resistant_coating %>
                          <%= "#{'UV Protective' if pre.protective_coating}" +
                                  "#{' + '    if pre.protective_coating && pre.anti_reflective_coating}" +
                                  "#{'Anti Flective Coating'  if pre.anti_reflective_coating}" +
                                  "#{' + '    if (pre.anti_reflective_coating && pre.scratch_resistant_coating) || (pre.protective_coating && pre.scratch_resistant_coating)}" +
                                  "#{'Scratch Resistant'   if pre.scratch_resistant_coating}"
                          %>
                      <% else %>
                          None
                      <% end %>
                    </h4>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="productSidebar">
                    <h3><%= pre.product.name %><br></h3>
                    <h4>
                      <sup>$</sup><%= pre.total_cost %>
                    </h4>
                    <div class="btnWrap">
                      <a href="/prescription/destroy?id=<%= pre.id %>" data-toggle="tooltip" data-placement="left" title="Remove from cart" data-method="delete" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </a>
                    </div>



                  </div>
                </div>



              </div>

              <br>
              <br>

          <% end %>


          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">

              <ul class="cartCheckoutDetail">
                <li>
                  <span>Subtotal</span>
                  <h4>$<%= @order.total %></h4>
                </li>
                <li>
                  <span>Handling</span>
                  <h4>free</h4>
                </li>
                <li>
                  <span>Shipping</span>
                  <h4>free</h4>
                </li>
                <li>
                  <span>Tax</span>
                  <h4>$0.00</h4>
                </li>
                <li>
                  <span>Total (CAD)</span>
                  <h4>$<%= @order.total %></h4>
                </li>
              </ul>

            </div>

            <div class="col-md-3">
            </div>


          </div>

          <div class="row">

            <div class="col-md-3">
            </div>

            <div class="col-md-6">

              <div class="selectLensWrap">

                <% if not @order.presciptions.empty? %>
                  <%= link_to "Checkout", new_checkouts_path, method: :get, class: "btn btn-primary" %>
                <% end %>
                <a class="btn btn-default" href="#" onclick="openPage_clear()" >Continue Shopping</a>
              </div>

            </div>

            <div class="col-md-3">
            </div>

          </div>
        </div>
        <% else %>
                <div class="selectLensWrap cartTextWrap">
                  <h3>No Products in the cart</h3>

                </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4 cart-goback" style="text-align: center; margin-top: 400px">

                <a onclick="openPage_clear()"><i class="fa fa-reply reply-bottom" aria-hidden="true"></i> return to shop</a>
              </div>
              <div class="col-md-4">
              </div>
        <% end %>
      </section>
    </div>
  </div>
</div>