<!-- <div class="mainWrapper" xmlns="http://www.w3.org/1999/html">
  <section class="internalBanner">
  </section>
  <div class="productDetailWrapper">
    <div class="container">
      <section class="productInfoWrap">
        <div class="row">
          <div class="col-md-12">
            <h3 class="page-title">Review and Payment</h3>
          </div>

          <% for pre in @order.presciptions %>

              <div class="row">

                <div class="col-md-3">
                  <div class="cartShowCase">
                    <%= image_tag(pre.product.avatar, :class => "img-responsive") %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="cartFormWrap">
                    <h4><strong>Type:</strong><br>
                      <%= pre.pre_type %><br>
                      PD (<%= pre.pd %>)
                    </h4>
                    <div class="cartInfoTable">
                      <table class="table">
                        <thead>
                        <tr>
                          <th></th>
                          <th>sph</th>
                          <th>cyl</th>
                          <th>axis</th>
                          <th>add</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>OD (Left)</td>
                          <td><%= pre.sphere %></td>
                          <td><%= pre.cylinder %></td>
                          <td><%= pre.axis %></td>
                          <td><%= pre.add %></td>
                        </tr>
                        <tr>
                          <td>OD (Right)</td>
                          <td><%= pre.sphere_right %></td>
                          <td><%= pre.cylinder_right %></td>
                          <td><%= pre.axis_right %></td>
                          <td><%= pre.add_right %></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <h4><strong>Lens Type:</strong><br>
                      <%= pre.lense_type %></h4>
                    <h4><strong>Your Coatings:</strong><br>
                      <% if pre.protective_coating or pre.anti_reflective_coating or pre.scratch_resistant_coating %>
                          <%= "#{'UV Protective' if pre.protective_coating}" +
                                  "#{' + '    if pre.protective_coating && pre.anti_reflective_coating}" +
                                  "#{'Anti Flective Coating'  if pre.anti_reflective_coating}" +
                                  "#{' + '    if (pre.anti_reflective_coating && pre.scratch_resistant_coating) || (pre.protective_coating && pre.scratch_resistant_coating)}" +
                                  "#{'Scratch Resistant'   if pre.scratch_resistant_coating}"
                          %>
                      <% else %>
                          None
                      <% end %>
                    </h4>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="productSidebar">
                    <h3><%= pre.product.name %><br></h3>
                    <h4>
                      <sup>$</sup><%= pre.total_cost %>
                    </h4>



                  </div>
                </div>



              </div>

              <br>
              <br>

          <% end %>
        </div>
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
              <ul class="cartCheckoutDetail">
                <li>
                  <span>Subtotal</span>
                  <h4>$<%= @order.total %></h4>
                </li>
                <li>
                  <span>Handling</span>
                  <h4>free</h4>
                </li>
                <li>
                  <span>Shipping</span>
                  <h4>free</h4>
                </li>
                <li>
                  <span>Tax</span>
                  <h4>$0.00</h4>
                </li>
                <li>
                  <span>Total (CAD)</span>
                  <h4>$<%= @order.total %></h4>
                </li>
              </ul>



              <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" style="width: 100%" >
                  <div class="row display-tr" >
                    <h3 class="panel-title display-td" >Payment Details</h3>
                    <div class="display-td" >
                      <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="cardNumber">CARD NUMBER</label>
                          <div class="input-group">
                            <input
                            type="tel"
                            class="form-control"
                            name="cardNumber"
                            placeholder="Valid Card Number"
                            autocomplete="cc-number"
                            required autofocus
                            />
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                          <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                          <input
                          type="tel"
                          class="form-control"
                          name="cardExpiry"
                          placeholder="MM / YY"
                          autocomplete="cc-exp"
                          required
                          />
                        </div>
                      </div>
                      <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                          <label for="cardCVC">CV CODE</label>
                          <input
                          type="tel"
                          class="form-control"
                          name="cardCVC"
                          placeholder="CVC"
                          autocomplete="cc-csc"
                          required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="couponCode">COUPON CODE</label>
                          <input type="text" class="form-control" name="couponCode" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button class="subscribe btn btn-success btn-lg btn-block" type="button"><i class="fa fa-lock" aria-hidden="true"></i>
                          PLACE YOUR ORDER</button>
                      </div>
                    </div>
                    <div class="row" style="display:none;">
                      <div class="col-xs-12">
                        <p class="payment-errors"></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>



          <div class="col-md-3">
            <div class="productSidebar sidebar-top">
              <div class="shippingInfoWrap">
                <h2 class="clearfix">
                  Billing Address
                  <a href="javascript:" class="pull-right primary-color"></a>
                </h2>
                <small>Type of mailing</small>
                <ul>
                  <li>
                    <i class="fa fa-envelope"></i>
                    <span><%= @order.shipping_address.email %></span>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <span><%= @order.shipping_address.phone_number %></span>
                  </li>
                  <li>
                    <i class="fa fa-bookmark"></i>
                    <span><%= @order.shipping_address.first_name %></span>
                  </li>
                  <li>
                    <i class="fa fa-map-marker"></i>
                    <span><%= @order.shipping_address.address %></span>
                  </li>
                </ul>
              </div>
              <div class="shippingInfoWrap">
                <h2 class="clearfix">
                  Shipping Method
                </h2>
                <div class="radioCheckWrap">
                  <input type="radio" id="postmethod" name="postmethod"/>
                  <label for="postmethod"><span>Pakistan Post ($0.00)</span> </label>
                </div>
                <strong class="offerInfo">Free shipping for any order over ($60)</strong>
              </div>
            </div>
          </div>
          </div>

        <div class="row">
          <div class="col-xs-12 col-md-4">


            <!-- CREDIT CARD FORM STARTS HERE




          </div>
        </div>
        </section>
        </div>
    </div>
  </div>
</div>

-->

<div class="mainWrapper">
  <section class="internalBanner">
  </section>
  <div class="productDetailWrapper">
    <div class="container">
      <section class="productInfoWrap">
        <div class="row">
          <div class="col-md-12">
            <h3 class="page-title">Review and Payment</h3>
          </div>
          <div class="col-md-9">
            <div class="row snbMainWrapper">
              <div class="col-md-6">
                <div class="shippingInfoWrap">
                  <h2 class="clearfix">
                    Billing Address
                  </h2>
                  <small>Type of mailing</small>
                  <ul>
                    <li>
                      <i class="fa fa-envelope"></i>
                      <span><%= @order.shipping_address.email %></span>
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>
                      <span><%= @order.shipping_address.phone_number %></span>
                    </li>
                    <li>
                      <i class="fa fa-bookmark"></i>
                      <span><%= @order.shipping_address.city %> <%= @order.shipping_address.province %></span>
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span><%= @order.shipping_address.address %></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="shippingInfoWrap">
                  <h2 class="clearfix">
                    Shipping Address
                    <a onclick="openPage_shipping()" class="pull-right">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                  </h2>

                  <% if @order.shipping_address.shipping_address %>

                  <small>Type of mailing</small>
                  <ul>
                    <li>
                      <i class="fa fa-envelope"></i>
                      <span><%= @order.shipping_address.email %></span>
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>
                      <span><%= @order.shipping_address.phone_number %></span>
                    </li>
                    <li>
                      <i class="fa fa-bookmark"></i>
                      <span><%= @order.shipping_address.shipping_city %> <%= @order.shipping_address.shipping_country %></span>
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span><%= @order.shipping_address.shipping_address %></span>
                    </li>
                  </ul>

                  <% else %>

                      <small>Type of mailing</small>
                      <ul>
                        <li>
                          <i class="fa fa-envelope"></i>
                          <span><%= @order.shipping_address.email %></span>
                        </li>
                        <li>
                          <i class="fa fa-phone"></i>
                          <span><%= @order.shipping_address.phone_number %></span>
                        </li>
                        <li>
                          <i class="fa fa-bookmark"></i>
                          <span><%= @order.shipping_address.city %> <%= @order.shipping_address.province %></span>
                        </li>
                        <li>
                          <i class="fa fa-map-marker"></i>
                          <span><%= @order.shipping_address.address %></span>
                        </li>
                      </ul>

                  <% end %>

                </div>
              </div>
            </div>
            <div class="paymentWrappper">
              <h3 class="form-title">Payment Method</h3>
              <h5>Select Payment Method</h5>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading active" role="tab" id="headingOne">
                    <h4 class="panel-title clearfix">
                      <span class="accActiveState"></span>
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Credit card / Debit card
                      </a>
                      <%= image_tag('payment.png', :class =>  'img-responsive pull-right') %>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div class="form-main">
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="Card Number">
                        </div>
                        <div class="halfWrapper">
                          <div class="oneHalf inlineBlockMiddle">
                            <select>
                              <option>Month</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                          <div class="oneHalf inlineBlockMiddle">
                            <select>
                              <option>Year</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="Security Code" aria-describedby="basic-addon1">
                          <span class="input-group-addon" id="basic-addon1">
                                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                                    </span>
                        </div>
                        <div class="form-group">
                          <a href="javascript:" class="btn btn-primary">Place Your Order</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title clearfix">
                      <span class="accActiveState"></span>
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="inlineBlockMiddle">
                        <%= image_tag('sm-paypal.png', :class => 'img-responsive') %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p>By clicking below button, you will be redirected to <strong>PayPal</strong> to complete your purchase securely.</p>
                      <a class="btn btn-paypal" href="javascript:">Continue checkout with <%= image_tag('paypal.png') %>  </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cartFormWrap prodSumSidebar orderSummary">
              <h3 class="clearfix">Order Summary
              </h3>
              <div class="prodShowCase">

                <% for pre in @order.presciptions %>


                <div class="buyedProd">
                  <%= image_tag(pre.product.avatar, :class => "img-responsive") %>
                  <div class="buyedProdInfo clearfix">
                    <h5><%= pre.product.name %></h5>
                    <small>Price: ($<%= pre.total_cost %>)</small>
                  </div>
                </div>

                <% end %>
              </div>
              <ul class="cartCheckoutDetail">
                <li>
                  <span><strong>Subtotal</strong></span>
                  <h4><strong>$<%= @order.total %></strong></h4>
                </li>
                <li>
                  <span>Handling</span>
                  <h4>free</h4>
                </li>
                <li>
                  <span>Shipping</span>
                  <h4>free</h4>
                </li>
                <li>
                  <span>Tax</span>
                  <h4>$0.00</h4>
                </li>
                <li class="totalSum">
                  <span>Total (CAD)</span>
                  <h4>$<%= @order.total %></h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>