<div class="mainWrapper">
  <section class="internalBanner">
  </section>

  <div class="productDetailWrapper">
    <div class="container">
      <div class="clearfix stepsWrapper">
        <span class="stepCir pull-left">1</span>
        <h3 class="pull-left">Your Prescription</h3>
        <span class="stepCir pull-right">2</span>
        <div class="border-bg"></div>
      </div>
      <section class="productInfoWrap">
        <div class="row">
          <div class="col-md-9">
            <div class="prodCarouselWrapper">
              <div class="productDescWrap">
                <div class="glassInfoWrap">
                  <%= image_tag(@product.secavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.thirdavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.fourthavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.fifthavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.sixthavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.seventhavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.eighthavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.ninthavatar, :class => "img-responsive") %>
                </div>
                <div class="glassInfoWrap">
                  <%= image_tag(@product.tenthavatar, :class => "img-responsive") %>
                </div>
              </div>
              <div class="slider-nav">
                <div>
                  <%= image_tag(@product.secavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.thirdavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.fourthavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.fifthavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.sixthavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.seventhavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.eighthavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.ninthavatar, :class => "img-responsive") %>
                </div>
                <div>
                  <%= image_tag(@product.tenthavatar, :class => "img-responsive") %>
                </div>
              </div>
            </div>
            <div class="itemSpecsWrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div class="itemSpecs clearfix">
                    <span>Eligible for Progressive</span>
                    <strong>Yes</strong>
                  </div>
                  <div class="itemSpecs clearfix">
                    <span>Material</span>
                    <strong>Plastic</strong>
                  </div>
                  <div class="itemSpecs clearfix">
                    <span>Gender</span>
                    <strong>Unisex</strong>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="imgWrap">
                    <%= image_tag(@product.itemspec, :class => "img-responsive") %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="productSidebar">
              <h3><%= @product.name %><br></h3>
              <h4>
               <!-- <span>$179.00</span> -->
                <%= number_to_currency(@product.price) %>
              </h4>
              <div class="descProd">
                <%= @product.description %>
                <div class="ratingSocialWrap">
                  <%= text_field_tag @product.id, @product.rating, class: 'custum-star-rating' %>
                  <span class="socialWrap">
                      <%= link_to favorites_product_path(@product), method: :post, :remote => true do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
                  </span>

                </div>
              </div>
              <div id="share"></div>

              <% if @product.size == 'small' %>
                  <div class="selectLensWrap2">
                    <p>Sizes:</p>
                    <a>S</a>
                  </div>
              <% end %>

              <% if @product.size == 'medium' %>
                  <div class="selectLensWrap2">
                    <p>Sizes:</p>
                    <a>M</a>
                  </div>
              <% end %>

              <% if @product.size == 'large' %>
                  <div class="selectLensWrap2">
                    <p>Sizes:</p>
                    <a>L</a>
                  </div>
              <% end %>


              <div class="selectLensWrap" style="margin-top: 5px !important">

                <%= link_to "Select Prescription", prescription_path(:product => @product.id), method: :get, class: "btn btn-primary button-width" %>
              </div>
              <div class="helpCenterWrapper">
                <div class="helpbox2">
                  <p style="margin-top: 5px"><i class="fa fa-check" aria-hidden="true"></i>
                    <b>Free Shipping</b> - ships within 5 to 10 days</p>
                  <p><i class="fa fa-check" aria-hidden="true"></i> 24 months warranty</p>
                  <p><i class="fa fa-check" aria-hidden="true"></i>
                    <b>Lenses</b> - for all Eyewear needs</p>


                </div>

              </div>

            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>
