<div class="row">
  <% for product in @products %>
      <div class="col-md-3">
        <div class="glassInfoWrap">
          <h4 class="list-group-item-heading"></h4>
          <span class="price"><%= number_to_currency(product.price) %></span>

          <%= link_to product,  { 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => product.name, 'data-method' => 'get' }  do %>
              <%= image_tag(product.avatar, :class => "img-responsive") %>
          <% end %>

          <div class="ratingSocialWrap">
            <%= text_field_tag product.id, product.rating, class: 'custum-star-rating' %>
            <span class="socialWrap">
                      <%= link_to favorites_product_path(product), method: :post, :remote => true do %>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      <% end %>
              <%= link_to prescription_path(:product => product.id), method: :get do %>
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <% end %>
                  </span>
          </div>
        </div>
      </div>
  <% end %>
</div>